body{
    background-color: #DAFFD0;
    background-image: linear-gradient(to bottom right, #DAFFD0, #21A700)
}
button{
    background-color: #DAFFD0;
    border-radius: 100px;
    border-color: #DAFFD0;
    height: 35px;
    width: 100px;
    font-family: 'Inter','Sans-Serif';
  }
  input{
    font-family:'Inter';
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-bottom: 0px;
    border-color: grey;
    height: 30px;
    width: 300px;
    box-shadow: 5px 5px #21A700;
    
  }
  h3{
    font-family:'Inter';
    font-weight: bold;
  }
  label{
    font-family:'Inter';
    font-weight: 400;
  }